<div id="<%= dom_id skate_park %>">
  <p>
    <strong>Title:</strong>
    <%= skate_park.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= skate_park.description %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= skate_park.text %>
  </p>

</div>
