<h1>Editing skate park</h1>

<%= render "form", skate_park: @skate_park %>

<br>

<div>
  <%= link_to "Show this skate park", @skate_park %> |
  <%= link_to "Back to skate parks", skate_parks_path %>
</div>
